<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>头像修改</string>
	</dict>
	<dict>
		<key>text</key>
		<string>查看账户信息</string>
		<key>title</key>
		<string>基本账户信息</string>
	</dict>
	<dict>
		<key>text</key>
		<string>查看账户信息</string>
		<key>title</key>
		<string>账户公司信息</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>修改昵称</string>
	</dict>
	<dict>
		<key>text</key>
		<string>请如实填写</string>
		<key>title</key>
		<string>真实名字</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击选择</string>
		<key>title</key>
		<string>性别</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>所在区域</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>零售商编码</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>销售门店编码</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>销售门店名称</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>QQ号码</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>微信</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>手机号码</string>
	</dict>
	<dict>
		<key>text</key>
		<string>点击修改</string>
		<key>title</key>
		<string>邮箱</string>
	</dict>
</array>
</plist>
